*{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  color: white;
  overflow: hidden;
}

.main{
  display: flex;
  height: 100vh;
  background-color: black;
  padding: 0.5rem;
}

.sidebar{
  width: 340px;
  border-radius: 1rem;
  background-color: black;
  margin-right: 0.5rem;
}

.main-content{
  flex: 1;
  overflow:auto;
  border-radius: 1rem;
  background-color: #121212;
  padding:0 1.5rem 0 1.5rem ;
}

a{
  text-decoration: none;
  color: white;
}

.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}

.nav-option{
  height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
  
}

.nav-option:hover{
  opacity: 1;
}

.nav-option i{
  font-size: 1.2rem;
  padding-right: 1rem;
}

.nav-option a{
  font-size: 1.2rem;
}

.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  
}

.lib-option img{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.8rem;
}

.icons{
  font-size: 1.25rem;
}

.icons i{
  margin-right: 1rem;
  opacity: 0.7;
}

.icons i:hover{
  opacity: 1;
}

.box{
  background-color: #232323;
  height: 9rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
}

.box .box-p1{
  font-size: 1rem;
  font-weight: 500;
}

.box .box-p2{
  font-size: 0.85rem;
  opacity: 0.9;
}

.badge{
  color: black;
  background-color: white;
  border: none;
  border-radius: 6rem;
  padding: 0.25rem 1rem;
  font-weight: 700;
  height: 2.1rem;
  width: fit-content;
}

.dark-badge{
  color: white;
  background-color: black;
}

.sticky-nav{
  position: sticky;
  top: 0px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 1;
}

.sticky-nav-icons{
  margin-left: 0.75rem;
}

.sticky-nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item{
  margin-right:1rem ;
}

@media(max-width:1000px){
  .hide{
    display: none;
  }
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}

.card{
  background-color: #232323;
  width:10rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem  1rem 0.5rem 1rem ;
  transition: all 0.1s linear 0s;
}

.card:hover{
  box-shadow: 0px 0px 5px grey;
}

.card-img{
  width: 100%;
  border-radius: 0.5rem;
}

.card-title{
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.card-info{
  font-size: 0.65rem;
  opacity: 0.8;
}

.main-content h2{
  font-size: 1.5rem;
  font-weight: 700;
}

.footer{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
  height: 30%;
  width: 90%;
  border-top:2px solid white;
  opacity: 0.2;
}

.music-player{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 0;
}

.album{
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.album-img{
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
}

.album-info{
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.album-song{
  font-size: 0.7rem;
  font-weight: 700;
}

.album-singer{
  font-size: 0.6rem;
  font-weight: 300;
}

.album-icons i{
  margin-right: 1rem;
}
.player{
  width: 50%;
  /* background-color: blanchedalmond; */
}



.player-controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-control-icon{
  margin-top: 1rem;
  height: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.player-control-icon:hover{
  opacity: 1;
}

.play-icon{
  opacity: 1;
  height: 1.5rem;
  width: 1.5rem;
}

.playback-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.progress-bar{
  width: 70%;
  /* margin-bottom: 0.1rem; */
  appearance: none;
}

.progress-bar::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 1rem;
  height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #1bd760;
  margin-top: -10px;
}


.curr-time{
  margin-right: 1rem;
}

.tot-time{
  margin-left: 1rem;
}

.controls{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-icon1{
  height: 1.7rem;
  width: 1.5rem;
  margin-right:1rem ;
}

.controls-icon{
  height: 1rem;
  width: 1rem;
  opacity: 0.6;
  margin-right:1rem ;
}
